@charset "UTF-8";

/* Todas as demais mídias */


/* 
typical device Breakpoints

--------------------------
    Pequenas telas: até 600px 
    celular: até 600px ate 768px
    Tabetes: 768px 992px
    Desktop: 992px até 1200px
    grandes telas : acima de 1200px
--------------------------

*/

@media screen and (min-width: 768px){
    .material-symbols-outlined {
        display: none !important;
    }

    menu{
        display: block !important;
    }

    menu > ul > li {
        display: inline-block;
    }
}
@media screen and (min-width: 1200px){
    header{
        text-align: center;
    }
    main{
        width: 768px;
    }
}